/*------------------------------- FONTS IMPORTATION -------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap'); /* on importe la police d'écriture depuis google */


/*------------------------------- VARIABLES -------------------------------*/
:root{
    --headerFont: 'Concert One'; /* Police du header utilisée, Concert One */
    --mainFont: 'Montserrat'; /* Main font */
    --mainFontColor: white; /* Color du main font */
}


/*------------------------------- GENERAL PAGES -------------------------------*/
/* Style du body */
body{
    font: 1em var(--mainFont), sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/backgroundNYC.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: grayscale(50%);
    vertical-align: baseline;
}

main{
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.75); /*background noir avec un peu de transparence*/
    margin: 0;
}

/* Style du texte des boutons non header */
a{
    text-decoration: none;
    color: var(--mainFontColor);
}

/* Changement de la couleur du texte des boutons non header */
.btnSubmit:hover a{
    color: black;
}

/* Style du texte du nom de la page */
h1.pageTitle{
    font: 2em 'Montserrat SemiBold', sans-serif;
    color: var(--mainFontColor);
    margin: auto;
    text-align: center;
}

.leftCenter{
    text-align: start;
}

/* Style des box messages qui apparaissent pour aider l'user*/
.divUserMessage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    font: 1em var(--mainFont), sans-serif;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.divUserMessage img{
    margin: 0 5px;
}

.divUserMessage h4{
    margin: 10px 5px;
}

/* Style des accroches des différentes pages */
.mainAccroche{
    font: 1em 'Montserrat SemiBold', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 2.5vh;
}

.mainAccroche h3{
    margin: 5px;
}

/* Style des boutons */
.btnSubmit{
    font: 1.25em var(--headerFont), sans-serif;
    margin-top: 5px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    padding: 8px 20px 10px;
    color: var(--mainFontColor); /* Couleur du texte */
    border-radius: 20px;
    border: 1.5px solid white; /* Bordure blanche */
    background-color: rgba(0, 0, 0, 0.75); /*background noir avec un peu de transparence*/
}

/* Style des boutons quand hovered */
.btnSubmit:hover{
    color: black;
    background-color: white;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
}


@media (max-width: 950px){
    .mainAccroche{
        font-size: 0.70em;
    }
}


/*------------------------------- DASHBOARD PAGE -------------------------------*/
/* Style du container des cards */
.dashboardCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Style d'une carte en particulier */
.dashboard-card{
    width: 15vw;
    height: 22.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--mainFontColor);
    border-radius: 15px;
    margin: 0px 20px;
}

/* Style de la carte une fois qu'elle est hovered */
.dashboard-card:hover{
    background-color: var(--mainFontColor);
    border: 3px solid rgba(255, 255, 255, 0);
}

.dashboard-card:hover h1{
    color: black;
}

.dashboard-card:hover h2 {
    color: black;
}

/* Style du nombre d'items */
.numberOf-card{
    font: 4vw 'Montserrat SemiBold', sans-serif;
    color: var(--mainFontColor);
    margin: 15px 15px 10px 15px;
}

.titleOf-card{
    font: 2vw var(--mainFont), sans-serif;
    color: var(--mainFontColor);
    margin: 10px 15px 15px 15px;
}

@media (max-width: 950px){

    .dashboardCards{
        flex-direction: column;
        margin: 0 auto;
    }

    /* Style d'une carte en particulier */
    .dashboard-card{
        margin: 20px auto;
        width: 25vw;
        height: 20vh;
    }

    /* Style du nombre d'items */
    .numberOf-card{
        font: 2.75em 'Montserrat SemiBold', sans-serif;
        color: var(--mainFontColor);
        margin: 15px 15px 10px 15px;
    }

    .titleOf-card{
        font: 1.5em var(--mainFont), sans-serif;
        color: var(--mainFontColor);
        margin: 10px 15px 15px 15px;
    }

}

@media (max-width: 550px){

    /* Style d'une carte en particulier */
    .dashboard-card{
        margin: 20px auto;
        width: 40vw;
        height: 20vh;
    }

    /* Style du nombre d'items */
    .numberOf-card{
        font: 2em 'Montserrat SemiBold', sans-serif;
        color: var(--mainFontColor);
        margin: 15px 15px 10px 15px;
    }

    .titleOf-card{
        font: 1.25em var(--mainFont), sans-serif;
        color: var(--mainFontColor);
        margin: 10px 15px 15px 15px;
    }

}


/*------------------------------- LISTE CATEGORIES/PRODUCT/USERS PAGE -------------------------------*/
/* Style de la section qui contiendra toute la liste des categories */
.containerList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 50px 25px 50px;
}

/* Style d'une ligne */
.listContentLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(60, 60, 60, 0.7); /* Couleur sombre pour différencier */
    border-bottom: 1px solid black;
}

/* Modification du background pour les nombre pair pour simplifier l'affichage */
.listContentBright{
    background-color: rgba(120, 120, 120, 0.7);
}

.listContentAdd{
    background-color: rgb(52, 51, 119);
    margin-bottom: 20px;
}

/* Style de l'id et du nom de la ligne */
.lineInfos{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.lineInfos h3{
    width: 2.5vw;
}

/* Style du texte de la ligne */
.lineName{
    align-self: start;
    font: 1.15em var(--mainFont), sans-serif;
    color: var(--mainFontColor);
    margin: 15px 10px;
}


/* Style des boutons modifier et supprimer */
.lineButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Style des textes des boutons */
.lineButtons a{
    border: 1px solid var(--mainFontColor);
    border-radius: 5px;
    margin: 0px 10px;
    padding: 5px 5px;
}

/* Style des boutons lors d'un hover */
.lineButtons a:hover{
    border-color: black;
    background-color: var(--mainFontColor);
    color: black;
}

@media (max-width: 550px){

    .listContentLine{
        flex-direction: column;
        justify-content: center;
    }

    .lineName{
        align-self: center;
    }

    .lineButtons{
        margin-bottom: 15px;
    }

}

/*------------------------------- STYLE PAGES FORMULAIRES UPDATE ET CREATION -------------------------------*/
/* Style des inputs et de leurs noms */
.sectionInput{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 10px;
}

/* Style des inputs et de leurs noms */
.sectionInputCheckbox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px;
}

/* Style du formulaire */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style du nom de la textbox */
.labelName{
    font: 1em 'Montserrat Medium', sans-serif;
    color: var(--mainFontColor);
    margin: 3px;
}

/* Style des inputs text */
.inputForm{
    font: 1em var(--mainFont), sans-serif;
    padding: 5px; /* Padding à l'intérieur des inputtexts */
    border: 1.5px solid white;
    border-radius: 5px;
    color: white;
    width: calc(100vw * (1/2.75));
    height: calc(100vh * (1/30));
    background-color: rgba(0, 0, 0, 0.75);
}

/* Style des inputs description */
.inputFormDescription{
    resize: none; /* on ne pourra pas resize le textarea */
    font: 1em var(--mainFont), sans-serif;
    padding: 5px; /* Padding à l'intérieur des inputtexts */
    border: 1.5px solid white;
    border-radius: 5px;
    color: white;
    width: calc(100vw * (1/2.75));
    height: calc(100vh * (1/10));
    background-color: rgba(0, 0, 0, 0.75);
}

/* Style de la section qui contiendra le bouton valider */
.sectionButtonCreate{
    align-self: center;
    margin-top: 25px;
}

/* Style des inputs number double pour capacité et prix */
.inputFormDouble{
    resize: none;
    font: 1em var(--mainFont), sans-serif;
    padding: 5px; /* Padding à l'intérieur des inputtexts */
    border: 1.5px solid white;
    border-radius: 5px;
    color: white;
    width: calc(100vw * (1/5.80));
    height: calc(100vh * (1/30));
    background-color: rgba(0, 0, 0, 0.75);
}

.doubleSectionInput{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}