/*------------------------------- FONTS IMPORTATION -------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap'); /* on importe la police d'écriture depuis google */


/*------------------------------- VARIABLES -------------------------------*/
:root{
    --headerFont: 'Concert One'; /* Police du header utilisée, Concert One */
    --mainFont: 'Montserrat'; /* Main font */
    --mainFontColor: white; /* Color du main font */
}


/*------------------------------- GENERAL PAGES -------------------------------*/
/* Style du body */
body{
    font: 1em var(--mainFont), sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/backgroundNYC.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: grayscale(50%);
    vertical-align: baseline;
}

main{
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.75); /*background noir avec un peu de transparence*/
    margin: 0;
}

/* Style du texte des boutons non header */
a{
    text-decoration: none;
    color: var(--mainFontColor);
}

/* Changement de la couleur du texte des boutons non header */
.btnSubmit:hover a{
    color: black;
}

/* Style du texte du nom de la page */
h1.pageTitle{
    font: 2em 'Montserrat SemiBold', sans-serif;
    color: var(--mainFontColor);
    margin: auto;
    text-align: center;
}

.leftCenter{
    text-align: start;
}

/* Style du texte du nom de la page */
h3.pageAccroche{
    font: 1.5em 'Montserrat', sans-serif;
    color: var(--mainFontColor);
    margin: auto;
    text-align: center;
}

/* Style des box messages qui apparaissent pour aider l'user*/
.divUserMessage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    font: 1em var(--mainFont), sans-serif;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.divUserMessage img{
    margin: 0 5px;
}

.divUserMessage h4{
    margin: 10px 5px;
}

/* Style des accroches des différentes pages */
.mainAccroche{
    font: 1em 'Montserrat SemiBold', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 2.5vh;
}


@media (max-width: 950px){
    .mainAccroche{
        font-size: 0.70em;
    }
}

/*------------------------------- REGISTER/LOGIN PAGE -------------------------------*/
/* Style de la phrase d'accroche pour l'inscription */
.mainAccroche h3{
    margin: 5px;
}

.mainAccroche h4{
    margin-top: 10px;
}

/* Style de la section register & login, nom de la page + formulaire */
.mainFormulaire{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    align-content: space-around;
}

/* Style des sections gauche et droite pour que la section du formulaire soit toujours au millieu */
.emptySection{
    width: 25vw;
}

/* Style des inputs et de leurs noms */
.sectionInput{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 10px;
}

/* Style de la section qui contient le formulaire */
.sectionFormulaire{
    width: 75vw;
}

.mainFormulaire h1{
    margin: 5px;
}

/* Style du formulaire */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style du paragraphe champs obligatoire */
form p{
    font: 0.75em var(--mainFont), sans-serif;
    color: white;
    margin: 5px 0px 24px 0px;
}

form p:hover{
    text-decoration: underline;
}

/* Style du bouton submit d'inscription */
.btnSubmit{
    font: 1.25em var(--headerFont), sans-serif;
    margin-top: 5px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    padding: 8px 20px 10px;
    color: var(--mainFontColor); /* Couleur du texte */
    border-radius: 20px;
    border: 1.5px solid white; /* Bordure blanche */
    background-color: rgba(0, 0, 0, 0.75); /*background noir avec un peu de transparence*/
}

/* Style du bouton submit d'inscription quand il est hovered */
.btnSubmit:hover{
    color: black;
    background-color: white;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
}

/* Style du nom de la textbox */
.labelName{
    font: 1em var(--mainFont), sans-serif;
    color: white;
    margin: 3px;
}

/* Style des inputs text */
.inputForm{
    font: 1em var(--mainFont), sans-serif;
    padding: 5px; /* Padding à l'intérieur des inputtexts */
    border: 1.5px solid white;
    border-radius: 5px;
    color: white;
    width: calc(100vw * (1/2.75));
    height: calc(100vh * (1/30));
    background-color: rgba(0, 0, 0, 0.75);
}

/* Media query pour le responsive des pages Connexion et Inscription*/
@media (max-width: 950px){

    .emptySection{
        width: 10vw;
    }

    .sectionFormulaire{
        width: 90vw;
    }

    .inputForm{
        height: calc(100vh * (1/40));
    }

}

/*------------------------------- INDEX PAGE -------------------------------*/
/* Section qui comporte le pin et l'accroche */
.sectionSearchPinAccueil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Div du pin et des searchbar */
.divPinAccueil{
    display: flex;
    justify-content: flex-end;
    padding-left: 7.5vw;
}

.sectionFormulaire a{
    color: white;
    margin: 0px;
    text-decoration: none;
}


/* img du pin */
.imgPinAccueil{
    width: 30vw;
}

/* Div qui contient l'accroche de la page (2 phrases) */
.divAccrocheAccueil{
    max-height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5vw;
}

/* 1ere phrase */
.divAccrocheAccueil h1{
    margin: 25px 0px;
}

/* 2eme phrase */
.divAccrocheAccueil h3{
    margin: 25px 0px;
}

/* Section du slider des catégories*/
.sectionCategoriesAccueil{
    margin-top: 50px;
}

/* Responsive de la page d'accueil */
@media (max-width: 1150px){
    /* img du pin */
    .imgPinAccueil{
        width: 35vw;
    }

    .divAccrocheAccueil{
        padding-left: 10vw;
    }
}

@media (max-width: 875px){
    /* On met le display flex de la section en column pour améliorer la lecture */
    .sectionSearchPinAccueil{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .divAccrocheAccueil{
        padding-left: 0px;
    }

}

/*------------------------------- PROFIL PAGE -------------------------------*/
/* Style du container qui contiendra le profil et le panier */
.divContentProfilPage{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

/* Style du container qui contiendra les infos de l'user connecté */
.divProfilContent{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    color: white;
    justify-content: space-between;
}

/* Style du nom prenom de l'user */
.divInfosContent h2{
    font: 1.5em "Montserrat Medium", sans-serif;
}

/* Style du mail, telephone adresse de l'user */
.divInfosContent h3{
    font: 1.25em "Montserrat Thin", sans-serif;
}

.divButtonsInfos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

/* Style du titre de la section profil */
.divProfilTitle{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.divProfilTitle img{
    width: 100px;
}

/* Style du separateur entre panier et le profil */
.divSeparateurHR hr{
    width: 3px;
    height: 75vh;
    background-color: white;
    border: none;
    margin: 5px;
}

/* Style du panier */
.divPanierContent{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

/* Style du titre du panier */
.divPanierTitle{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

/* Style du logo du panier */
.divPanierTitle img{
    width: 100px;
}

@media (max-width: 950px){
    .divContentProfilPage{
        flex-direction: column;
        margin: 10px;
    }

    .divSeparateurHR{
        display: none;
    }

    .divPanierContent{
        margin-top: 55px;
    }

}

@media (max-width: 550px){
    .divInfosContent h2{
        font-size: 1.05em;
    }

    .divInfosContent h3{
        font-size: 0.95em;
    }
}


/*------------------------------- CATEGORY PAGE -------------------------------*/
/* Section qui va contenir toutes les catégories */
.categoriesContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style d'une carte d'une catégorie */
.categoryCard{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: 20px;
}

/* Style de la carte quand on est en hover dessus */
.categoryCard:hover{
    background-color: black;
}

.categoryCard:hover h2{
    color: var(--mainFontColor);
}

/* Style des noms des catégories */
.categoriesContent a{
    text-decoration: none;
}

/* Style de la miniature de la catégorie */
.categoryImg{
    max-width: 25vw;
    border-radius: 10px 10px 0px 0px;
    margin: auto;
}

/* Style du nom de la catégorie */
.categoryName{
    color: var(--mainFontHoveredColor);
    font: 1.25em "Montserrat SemiBold", sans-serif;
    margin: 10px;
}

/* Responsive de la page des catégories */
@media (max-width: 950px){

    .categoryCard{
        width: calc((100% - 40px));
    }

    .categoryName{
        font-size: 0.85em;
    }

}

@media (max-width: 610px){
    .categoryName{
        font-size: 2vw;
    }
}

@media (max-width: 420px){
    .categoriesContent{
        flex-direction: column;
    }

    .categoryName{
        margin: 5px auto;
    }

    .categoryCard{
        margin: 10px auto;
        width: 25vw;
    }
}

/*------------------------------- ALL PRODUCTS PAGE -------------------------------*/
/* Style de la section barre de recherche et trier par */
.sectionProductInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    align-items: center;
}

/* Style de la barre de recherche des produits */
.sectionProductInput input{
    margin: 0px 15px;
}

.divTrierPar{
    display: flex;
    flex-direction: row;
    margin: 0px 15px;
}

/* Style du select des produits */
.divTrierPar select{
    margin: 0px 10px;
    font: 1em var(--mainFont), sans-serif;
    padding: 5px; /* Padding à l'intérieur des inputtexts */
    border: 1.5px solid white;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}

/* Section qui va contenir tous les produits */
.productsContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style d'une carte en particulier  */
.productCard{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: 20px;
}

/* Style de la carte quand on est en hover dessus */
.productCard:hover{
    background-color: black;
}

.productCard:hover h2{
    color: var(--mainFontColor);
}

/* Style des noms des produits */
.productsContent a{
    text-decoration: none;
}

/* Style de la miniature de la catégorie */
.productImg{
    max-width: 25vw;
    border-radius: 10px 10px 0px 0px;
    margin: auto;
}

/* Style du nom de la catégorie */
.productName{
    color: var(--mainFontHoveredColor);
    font: 1.25em "Montserrat SemiBold", sans-serif;
    margin: 5px 0 0 0;
}

/* Style de la ville et code postal sur la carte */
.productTownPostalCode{
    color: var(--mainFontHoveredColor);
    font: 1.10em "Montserrat Light", sans-serif;
    margin: 0px;
}

/* Style de la capacité d'une carte */
.productCapacity{
    color: var(--mainFontHoveredColor);
    font: 1.10em "Montserrat Light", sans-serif;
    margin: 0 0 5px 0;
}

.productCapacity img{
    width: 32.5px;
}

@media (max-width: 950px){

    .productCard{
        width: calc((100% - 40px));
    }

    .productImg{
        width: 20vw;
    }

    .productName{
        font-size: 1.60vw;
    }

    .productTownPostalCode{
        font-size: 1.25vw;
    }

    .productCapacity{
        font-size: 1.25vw;
    }

    .productCapacity img{
        width: 3vw;
    }

}

@media (max-width: 520px){
    .sectionProductInput{
        flex-direction: column;
    }

    .divTrierPar{
        margin-top: 20px;
    }

    .productsContent{
        flex-direction: column;
    }

    .productImg{
        width: 25vw;
    }

    .productName{
        font-size: 1.90vw;
    }

    .productTownPostalCode{
        font-size: 1.65vw;
    }

    .productCapacity{
        font-size: 1.65vw;
    }

    .productCard{
        width: 25vw;
        margin: 10px auto;
    }

}

/*------------------------------- UNIQUE PRODUCT PAGE -------------------------------*/
/* Style du contenu de la page d'un produit unique */
.contentUniqueProduct{
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Style de la div qui contiendra toutes les images */
.imagesUniqueProduct{
    margin-left: auto;
    padding-right: 5px;
}

/* Taille max de l'image */
.imagesUniqueProduct img{
    width: 600px;
    height: 450px;
}

/* Style des infos du produit unique (Prix, Adresse, Ville, ...) */
.infosUniqueProduct{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: auto;
    padding-left: 5px;
}

/* Style du nom de la valeur et de la valeur */
.valueInfosProduct{
    display: flex;
    flex-direction: row;
    justify-content: start;
    max-width: 35vw;
}

.h3infosUniqueProduct{
    font: 1.25em 'Montserrat Medium', sans-serif;
    color: white;
    margin: 5px;
}

.h3valueUniqueProduct{
    font: 1.25em 'Montserrat Thin', sans-serif;
    color: white;
    margin: 5px;
}

.sectionButtonaddCartUpdateProfil{
    margin-top: 25px;
    align-self: center;
}

@media (max-width: 1050px){
    .h3infosUniqueProduct{
        font-size: 1em;
    }

    .h3valueUniqueProduct{
        font-size: 1em;
    }
}

@media (max-width: 950px){
    .contentUniqueProduct{
        flex-direction: column;
    }

    h1.pageTitle{
        font-size: 1.5em;
    }

    .imagesUniqueProduct{
        align-self: center;
        margin: 0;
        padding: 0;
    }

    /* Taille max de l'image */
    .imagesUniqueProduct img{
        width: 500px;
        height: 375px;
    }

    .infosUniqueProduct{
        margin: 10px auto;
    }
}

@media (max-width: 550px){

    h1.pageTitle{
        font-size: 1em;
    }

    .imagesUniqueProduct img{
        width: 275px;
        height: 200px;
    }

    .h3infosUniqueProduct{
        font-size: 0.75em;
    }

    .h3valueUniqueProduct{
        font-size: 0.75em;
    }
}



/*------------------------------- MODIFICATION PROFIL PAGE -------------------------------*/
.divContentUpdateProfilPage{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.divUpdateProfil{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    color: white;
    justify-content: center;
}

.divUpdateAdresse{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    color: white;
    justify-content: center;
}

.divUpdateButton{
    display: none;
}

.divUpdateButton button{
    align-self: center;
}

.sectionButtonSaveUpdateProfil{
    align-self: center;
    margin-top: 25px;
}

.sectionButtonCancelUpdateProfil{
    align-self: center;
    margin-top: 25px;
}

@media (max-width: 950px){
    .divContentUpdateProfilPage{
        flex-direction: column;
        margin: 10px;
    }

    .divSeparateurHR{
        display: none;
    }

    .divUpdateAdresse{
        margin-top: 55px;
    }

}

